<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Все события</h1>
    <ul id="events-list">
        {% for event in events %}
            <li><a href="/events/{{ event.pk}}/">{{ event.title }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="/dashboard/">На главную</a></p>
    <p><a href="/logout/">Выйти</a></p>
    <script src="{% static 'simple_admin/js/update_list.js'%}"></script>
    <script>
        setInterval(update_list, 10000, "events-list", "events")
    </script>
</body>
</html>